* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body,
a {
    font-family: 'Akshar', sans-serif;
    color: black;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 180px;
    height: 100%;
    background-color: #e6e3e350;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 3rem;
    text-align: center;
    background-color: #11101de3;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar header i {
    color: #fff;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    padding-left: 40px;
}

.sidebar ul a i {
    padding-right: 15px;
}

.sidebar ul a b {
    font-family: 'poppins', sans-serif;
    font-size: .8rem;
}

.sidebar-arrow {
    font-size: .6rem;
    position: relative;
    left: 5px;
    top: 2px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
}

label #btn {
    left: 115px;
    top: 18px;
}

label #cancel {
    left: -200px;
    top: 18px;
    transition: .3s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #cancel {
    left: 200px;
}

.sidebar li a:hover {
    background-color: #11101d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 30px;
    transition: .3s ease;
}

.copyright {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
}

.copyright i {
    padding-right: 5px;
    padding-bottom: 2px;
}

.copyright small {
    font-size: .6rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    padding-left: 1.5rem;
    color: black;
    opacity: .5;
    transition: .3s ease;
}

.navbar-toggler:hover {
    opacity: 1;
    cursor: pointer;
}

.logo-navbar-toggler {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 3rem;
    padding-left: 2rem;
}

.search-bar input {
    padding: 9px 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e6e3e350;
    width: 400px;
}

.header-icons ul li {
    display: inline-block;
    padding-right: 1rem;
}

.header-btn {
    padding-right: 2rem;
}

.header-btn button {
    font-weight: 700;
    padding: 6px 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #11101d;
    color: #fff;
    transition: .3s ease;
}

.header-btn button:hover {
    background-color: #19182be3;
    cursor: pointer;
}

.header-icon-hover:hover {
    cursor: pointer;
}

@media (max-width: 1179px) {
    .search-bar input {
        width: 250px;
    }
    .sidebar header {
        background-color: #e6e3e350;
    }
    .sidebar header i {
        color: #11101d;
    }
    .search-bar {
        padding-left: 200px;
    }
    .sidebar ul a {
        padding-left: 10px;
    }
}

@media (max-width: 900px) {
    .header-btn {
        display: none;
    }
    .search-bar input {
        width: 400px;
    }
    .search-bar {
        padding-left: 100px;
    }
}

@media (max-width: 800px) {
    .search-bar input {
        width: 200px;
    }
}

@media (max-width:590px) {
    .header-icons #header-icon-hover-card {
        display: none;
    }
    .header-icons ul li {
        padding-right: 0;
    }
    .header-icons {
        padding-right: 10px;
    }
}

@media (max-width: 495px) {
    .search-bar input {
        width: 100px;
        padding: 6px 13px;
    }
    .search-bar {
        padding-left: 140px;
        padding-right: 0;
    }
    .logo i {
        font-size: 2rem;
        padding-left: 1rem;
    }
    .navbar-toggler {
        padding-bottom: 10px;
        padding-right: 100px;
    }
    .navbar-toggler #btn {
        position: absolute;
        left: 70px;
        top: 21px;
        font-size: .8rem;
    }
}

@media (max-width: 430px) {
    .sidebar {
        width: 150px;
    }
    .sidebar-arrow {
        display: none;
    }
    .sidebar header {
        font-size: 2rem;
        text-align: center;
        background-color: #11101de3;
        border-radius: 5px;
    }
    #check:checked~label #cancel {
        left: 170px;
    }
}

@media (max-width: 379px) {
    .search-bar input {
        width: 70px;
    }
    .search-bar input::placeholder {
        font-size: .56rem;
    }
}

@media (max-width:350px) {
    .search-bar input {
        width: 50px;
        padding: 5px 6px;
    }
    .search-bar input::placeholder {
        font-size: .46rem;
    }
}

@media (max-width: 340px) {
    .search-bar {
        display: none;
        ;
    }
}

@media (max-width: 250px) {
    .header-icons {
        display: none;
    }
}